# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [released]

jobs:
  npm-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
     - name: Checkout repository
       uses: actions/checkout@v3

     - name: Install node.js v18
       uses: actions/setup-node@v3
       with:
        node-version: 18
        registry-url: https://registry.npmjs.org/
     - name: enable corepack
       run: corepack enable

     - name: Install dependencies
       run: yarn install --frozen-lockfile

     - name: Build dependencies
       run: yarn build
    
     - name: Publish package
       run: npm publish --workspace genshin-kit.js
       env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}