on:
  push:
    branches:
      - feat/monorepo
  pull_request:

jobs:
  tsc:
    name: tsc
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: install node v16
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: install dependencies
      run: npm install
    - name: tsc
      run: npm run build